.build.yml
.gitignore
.prettierignore
.projections.json
.vscode-test/**
.vscode/**
assets/screencasts
out/**/*.map
out/test/**
src/**
test-project
tsconfig.json
tslint.json
vsc-extension-quickstart.md
yarn.lock